* {
  font-family: "Hauora", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
.container {
  background-color: #ccc;
  width: 23.438rem;
  height: 48rem;
}

.header {
  height: 5.313rem;
  background: linear-gradient(180deg, #ef5350 0%, #f44336 79.91%);
}

.user-information {
  height: 5.313rem;
}

.text-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.003em;
  color: #ffffff;
}

.text-semi-bold {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.8);
}

.qr-icon-bg {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
}

.qr-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
