@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hauora;
  src: local("Hauora"), url("./fonts/Hauora/Hauora-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Hauora;
  src: local("Hauora"),
    url("./fonts/Hauora/Hauora-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: Hauora;
  src: local("Hauora"),
    url("./fonts/Hauora/Hauora-Regular.ttf") format("truetype");
  font-weight: normal;
}
